// Home page styles

.site-main-home {
	height: 100vh;
}

.home.page-template-default.page.page-id-5 {
	background-image: url('images/home-bg-1.png'), url('images/home-bg-2.png');
	background-position: left bottom, right top;
	background-repeat: no-repeat, no-repeat;
	-webkit-animation: backgroundScroll 3s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 3s ease 1;
	animation-fill-mode: forwards;
}

@keyframes backgroundScroll {
    from {background-position: -100px bottom, right bottom;}
	to {background-position: left bottom, right top;}
}

.text-container.home {
	animation-name: color;
	animation-duration: 3s;
	animation-delay: 0.5s;
	animation-timing-function: ease-in;
}

@keyframes color {
	0%{background-color: #853D74;}
	50%{background-color: #9C5A08;}
	75%{background-color: #308583;}
	100%{background-color: $dark_grey;}
}